
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey!!<%= @user.email %> Bug_Tracker </h1>
    <p>
      You have <%=@bugs%> UnSolved Bugs,
      You have <%= @solved %> Solved Bugs<br>
    </p>
    <p>
      To login to the site, just follow this link: localhost:3000
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>