<div class="container">
<h3>Dashboard</h3>
<div class="list-group">
<%= dashboard_menu_options %>
</div>
</div>

<!--
<%= link_to "Add Project", "project#index"%>
 
<%if current_user.admin?%>
    <%= link_to "invite User", new_user_invitation_path %><br>
    <%= render partial: 'user/index' %>
<%else%>
    <h1>Hello General User</h1>
<%end%>

-->