<div class="container">
<%= link_to "<< Back to List",:back ,class:"btn btn-info"%>

<div class="Bugs show">
  <h2>Bugs</h2>

  <table summary="Bug detail view">
   
    <tr>
        <th>Name</th>
        <td><%= @bug.bug_name %></td>
    </tr>

    <tr>
        <th>Description</th>
        <td><%= @bug.bug_description %></td>
    </tr>
   </table>

   <%= commontator_thread(@bug) %>


</div>
</div>